# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-14

    steps:
    - uses: actions/checkout@v4
    
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.2.app/Contents/Developer
    
    - name: Build with xcodebuild
      run: xcodebuild -scheme AFHAM -destination 'platform=iOS Simulator,name=iPhone 15 Pro' -configuration Release build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
    
    - name: Run tests with xcodebuild
      run: xcodebuild -scheme AFHAM -destination 'platform=iOS Simulator,name=iPhone 15 Pro' -configuration Debug test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
